<!-- cadastro.component.html -->
<div class="example-container" style="margin-left: 15px;">
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input formControlName="nome" matInput placeholder="Nome"> 
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput placeholder="E-mail"> 
        </mat-form-field>

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input formControlName="senha" matInput placeholder="Senha" type="password">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Data de Nascimento</mat-label>
            <input matInput formControlName="dataNascimento" [matDatepicker]="picker" placeholder="DD/MM/AAAA">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Plano</mat-label>
            <mat-select formControlName="plano" (selectionChange)="onPlanoSelected($event)">
              @for (plano of planos; track plano) {
                <mat-option [value]="plano.id">{{plano.nome}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        <br>
        <div *ngIf="showCreditCardForm">

          <h2>Dados do Cartão</h2>

          <mat-form-field>
            <mat-label>Número do Cartão</mat-label>
            <input matInput formControlName="numeroCartao" placeholder="0000 0000 0000 0000">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nome impresso no cartão</mat-label>
            <input matInput formControlName="nomeCartao" placeholder="João da Silva">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Data de validade</mat-label>
            <input matInput formControlName="validadeCartao" placeholder="MM/AA">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Código de segurança</mat-label>
            <input matInput formControlName="codigoSeguranca" placeholder="000">
          </mat-form-field>
        
        </div>
        
        <button mat-raised-button color="primary">Cadastrar</button>
    </form>
  </div>
  